parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/sad_spirit/pg_wrapper/converters/CachedTypeOIDMapper.php

		-
			message: "#^Parameter \\#1 \\$connection of function pg_connection_status expects resource, Pgsql\\\\Connection given\\.$#"
			paths:
				- src/sad_spirit/pg_wrapper/Connection.php
				- tests/ConnectionTest.php
			reportUnmatched: false
