parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/sad_spirit/pg_wrapper/converters/CachedTypeOIDMapper.php

		# well duh
		-
			message: "#^Offset 'foo' on sad_spirit\\\\pg_wrapper\\\\(tests\\\\)?types\\\\[a-zA-Z]+ in isset\\(\\) does not exist\\.$#"
			paths:
				- tests\types\PointListTest.php
				- tests\types\MultiRangeTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert::assert(True|False)\\(\\) with false#"
			paths:
				- tests\ConnectionTransactionsTest.php
				- tests\types\PointListTest.php
				- tests\types\MultiRangeTest.php

		# New false positives in phpstan 2, probably it is trying to be "smart" with methods named isWhatever()?
		-
			message: "#^Call to method sad_spirit\\\\pg_wrapper\\\\converters\\\\TypeOIDMapper::is(Range|MultiRange|Domain)TypeOID\\(\\) with int\\|string and null will always evaluate to false\\.$#"
			count: 3
			path: src/sad_spirit/pg_wrapper/converters/DefaultTypeConverterFactory.php
