parameters:
	ignoreErrors:
		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src/sad_spirit/pg_wrapper/converters/DefaultTypeConverterFactory.php

		-
			message: "#^Conditional return type uses subject type#"
			count: 1
			path: src/sad_spirit/pg_wrapper/ResultSet.php

		-
			message: "#^Conditional return type uses subject type#"
			count: 1
			path: src/sad_spirit/pg_wrapper/Connection.php
