includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
    - tests
  bootstrapFiles:
    - tests/config.php.dist
    - pgsql-stubs.php
  dynamicConstantNames:
    - TESTS_SAD_SPIRIT_PG_WRAPPER_CONNECTION_STRING
  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: false
